extends layout

block content
    div(class="fixed top-bar-bottom-border")
        nav(class="top-bar" data-topbar data-options="scrolltop:false" role="navigation")
            ul(class="title-area")
                li(class="name")
                    h1(class="nav-title")
                        a(href="#" class="nav-title")
                            img(src="/images/deidenIcon.png" class="nav-logo" alt="Danny Eiden | Developer, Designer, Product Manager")
                            | Danny Eiden
                li(class="toggle-topbar menu-icon")
                    a(href="#")
                        span
            section(class="top-bar-section")
                ul(class="right")
                    li
                        a(onclick="scrollToSection('#about', true); ga('send', 'event', 'Navigation', 'click', 'About');") About
                    li
                        a(onclick="scrollToSection('#skills', true); ga('send', 'event', 'Navigation', 'click', 'Skills');") Skills
                    li
                        a(onclick="scrollToSection('#contact', true); ga('send', 'event', 'Navigation', 'click', 'Contact');") Contact
    // Top Image
    section(id="top")
        div(class="top-image")
            div(id="top-image-text")
                h5 Great things happen at the intersection of technology and creativity
        div(class="top-image-mask")
    section(id="about")
        div(class="row")
            div(class="large-12 column")
                h3 About
        div(class="row")
            div(class="small-12 medium-4 large-3 column center")
                img(src="/images/danny-eiden.jpg" alt="Danny Eiden" class="headshot")
            div(class="small-12 medium-8 large-9 column")
                p
                    | I am Danny Eiden, a developer with an interdisciplinary mind.
                    | My goal is to combine a deep understanding of computers, people,
                    | and businesses to create novel products. I have focussed my career
                    | to date on building early stage startups from the ground up. My
                    | contributions have ranged from designing a publicly shared JavaScript
                    | library for frontend data access to developing and managing an
                    | industry-leading customer support strategy. In addition to my
                    | professional background, I have taken numerous classes in computer
                    | science, marketing, psychology, and design. These experiences have
                    | given me the tools for whole-brain thinking, and it is my lifelong
                    | passion to use this unique mindset to solve difficult problems.
                p
                    | In my personal life, I enjoy rock climbing, attending concerts, and
                    | learning Spanish. I was born a dog person but recently adopted a cat
                    | who stole my heart. I believe in the power of collective action and
                    | the common good. I am a coffee snob, but I respect coffee drinkers
                    | (and non-drinkers) of all stripes.
        br
    section(id="skills")
        div(class="row")
            div(class="large-12 column")
                h3 Skills
            div(class=" large-4 column text padding-1")
                h4(class="development") Development
                p
                    | While my skillset is diverse, software engineering is my core. I am a passionate
                    | full stack web developer, having produced both polished front-end and high performance
                    | back-end code. In my my free time, I enjoy tinkering with new tools and languages
                    | to keep my skills sharp. Whatever kind of programmer a project requires, I can
                    | deliver.
            div(class=" large-4 column text")
                h4(class="design") UX & Design
                p
                    | When creating software, the user always comes first. I aim to delight individuals
                    | with my work by understanding them at a deep level. I have directly contributed to
                    | designing and implementing the UX of a large SaaS product lauded by its customers
                    | for being both intuitive and beautiful. With this experience, I feel confident I can
                    | overcome any design challenge.
            div(class=" large-4 column text")
                h4(class="product-management") Product Management
                p
                    | It is imperative to have team members who understand business in addition to
                    | technology. From competitive landscape to LTV:CAC, I like to know everything
                    | about the products I work on. My professional experience and business
                    | classes have equipped me to handle the entire breadth of challenges that one
                    | might face when managing a product.
    section(id="contact")
        div(class="row")
            div(class="large-12 column")
                h3 Contact
                br
            div(class="small-12 medium-6 large-3 column text-center")
                a(href="mailto:deiden.26@gmail.com"
                onclick="ga('send', 'event', 'Contact', 'click', 'Email');")
                    span(class="contact-icon fa fa-envelope fa-5x fa-fw")
                    p() deiden.26@gmail.com
            div(class="small-12 medium-6 large-3 column text-center")
                a(href="/documents/resume/DannyEidenResume.html"
                onclick="ga('send', 'event', 'Contact', 'click', 'Resume');")
                    span(class="contact-icon fa fa-file-text fa-5x fa-fw")
                    p() Resume
            div(class="small-12 medium-6 large-3 column text-center")
                a(href="http://www.linkedin.com/in/DannyEiden"
                onclick="ga('send', 'event', 'Contact', 'click', 'Linkedin');"
                target="_blank")
                    span(class="contact-icon fa fa-linkedin fa-5x fa-fw")
                    p() Linkedin
            div(class="small-12 medium-6 large-3 column text-center contact-icon")
                a(href="http://www.github.com/deiden26"
                onclick="ga('send', 'event', 'Contact', 'click', 'GitHub');"
                target="_blank")
                    span(class="fa fa-github fa-5x fa-fw")
                    p() GitHub
    script(src="/javascripts/index.js")
